#cardbox {
	background-color: white;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	text-align: center;
	width: 90%;
	max-width: 850px;
	margin: auto;
}
.card {
	display: inline-block;		
	width: 96%;
	max-width: 800px;
	margin-bottom: 2%;
	height: 300px;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	border-radius: 5px;
}
#card-front {
	background-color: green;
}
#card-back {
	background-color: red;
}