extends layout

block navbar
  nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        // Button to collapse the nav on small screens
        button.navbar-toggle(data-toggle="collapse", data-target="#navbar")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#') Flashcards
      .collapse.navbar-collapse#navbar
        ul.nav.navbar-nav
          each page in pages
            - var isActive = (page.name === title ? 'active' : ''); 
            li(class=isActive)
              a(href=page.url) #{page.name}