// List of pages to show in the navbar.
// Doesn't include the title (/index)
// Names should match the page titles to correctly highlight.
-
  const LOGGED_IN_PAGES = [
    {
      "name": "Review",
      "url": "/todaysCards"
    },
    {
      "name": "Create Cards",
      "url": "/createCards"
    },
    {
      "name": "List Cards",
      "url": "/listCards"
    },
    {
      "name": "Logout",
      "url": "/logout"
    }
  ];

  const LOGGED_OUT_PAGES = [
    {
      "name": "Login",
      "url": "/login"
    },
    {
      "name": "Register",
      "url": "/register"
    }
  ];

nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      // Button to collapse the nav on small screens
      button.navbar-toggle(data-toggle="collapse", data-target="#navbar")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/todaysCards') Flashcards
    .collapse.navbar-collapse#navbar
      ul.nav.navbar-nav
        - var PAGES = (session.user ? LOGGED_IN_PAGES : LOGGED_OUT_PAGES);
        each page in PAGES
          li
            a(href=page.url) #{page.name}