// List of pages to show in the navbar.
// Doesn't include the title (/index)
// Names should match the page titles to correctly highlight.
-
  const LOGGED_IN_PAGES = [
    {
      "class": "navbar-left",
      "pages": [
        {
          "name": "Review",
          "url": "/review"
        },
        {
          "name": "Create Cards",
          "url": "/createCards"
        },
        {
          "name": "List Cards",
          "url": "/listCards"
        }
      ]
    },
    {
      "class": "navbar-right",
      "pages":
      [
        {
          "name": "Logout",
          "url": "/logout"
        }
      ]
    }
  ];

  const LOGGED_OUT_PAGES = [
    {
      "class": "navbar-right",
      "pages": [
        {
          "name": "Login",
          "url": "/login"
        },
        {
          "name": "Register",
          "url": "/register"
        }
      ]
    }
  ];

nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      // Button to collapse the nav on small screens
      button.navbar-toggle(data-toggle="collapse", data-target="#navbar")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Flashcards
    #navbar
      - var PAGES = (session.user ? LOGGED_IN_PAGES : LOGGED_OUT_PAGES);
      each pageGroup in PAGES
        ul.nav.navbar-nav(class=pageGroup.class)
          each page in pageGroup.pages
            li
              a(href=page.url) #{page.name}
