extends layout

block head-extras
  script(src='/js/create.js')

block content
  h1 Create Cards
  .results
    if error
      .alert.alert-danger(role="alert")= error
    else if numNewCards
      .alert.alert-success Created #{numNewCards} new cards!
  form.form-inline(method='POST' action='' autocomplete='off')
    .row
      .form-group
        input.form-control(type='text', placeholder='Front of card', name='front', value='')
      .form-group
        input.form-control(type='text', placeholder='Back of card', name='back', value='')
      button.btn.btn-success.btn-add
        span.glyphicon.glyphicon-plus

    button.btn.btn-primary(type='submit') Submit

  
