extends layout

block head-extras
  script(src='/js/lib/wanakana.min.js')
  script(src='/js/create.js')

block content
  h1 Create Cards
  form#input-format-form
    span hiragana #[input(id='hiragana-enabled', name='input-format', type='radio')]
    span katakana #[input(id='katakana-enabled', name='input-format', type='radio')]
    span none #[input(id='none-enabled', name='input-format', type='radio', checked)]

  .results
    if error
      .alert.alert-danger(role="alert")= error
    else if numNewCards
      .alert.alert-success Created #{numNewCards} new cards!
  form.form-inline(method='POST' action='' autocomplete='off')
    .row
      .form-group
        input.form-control(type='text', placeholder='English side of card', name='front', value='')
      .form-group
        input.form-control(type='text', placeholder='Japanese side of card', name='back', value='', class='wanakana-input')
      button.btn.btn-success.btn-add
        span.glyphicon.glyphicon-plus

    button.btn.btn-primary(type='submit') Submit

  
