extends layout

block content
  h1 Custom Review

  form(method='POST' action='/customReview')
    div Latest 10 #[input(name='numReviews', value='10', type='radio', checked)]
    div Latest 20 #[input(name='numReviews', value='20', type='radio')]
    div Latest 50 #[input(name='numReviews', value='50', type='radio')]
    button.btn.btn-primary(type='submit') Go