extends layout

block content
  h1 Custom Review

  form.form-inline(method='POST' action='/customReview')
    .row
      .form-group
        select.form-control(name='reviewType')
          option(value='newest' selected) Newest cards
          option(value='hardest') Hardest cards (by difficulty score)
          option(value='random') Random cards
      .form-group
        input.form-control(name='numReviews', type='number', placeholder='Number of reviews')
    button.btn.btn-primary(type='submit') Go