extends layout

block head-extras
  script(src='js/customReview.js')

block content
  h1 Custom Review
  .btn-group
    .dropdown
      button.btn.btn-default.dropdown-toggle(data-toggle='dropdown') How many reviews?
        span.caret
      ul.dropdown-menu
        li
          a(href='#', value='10') 10
        li
          a(href='#', value='20') 20
        li
          a(href='#', value='50') 50