doctype html
html
  head
    meta(charset='utf-8')
    title Flashcards
    // jQuery
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')

    // Bootstrap
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/yeti/bootstrap.min.css")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")

    // Global local styles
    link(rel='stylesheet', href='/stylesheets/style.css')
    block head-extras
  body
    .container-fluid
      include bootstrap/navbar.pug
      block content